* {
  margin: 0;
  height: 100%;
}

@font-face {
  font-family: NunitoFont;
  src: url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");
}

.pokedex-container {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.pokedex-info-container {
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  width: 35%;
  background-color: #ebecf0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.pokedex-info-title {
  width: 100%;
  height: 20%;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 3rem;
  box-sizing: border-box;
}

.pokedex-info-data {
  width: 100%;
  height: 80%;
}

.pokedex-data-title {
  width: 100%;
  height: 15%;
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
}

.pokedex-data-data {
  width: 100%;
  height: 50%;
  text-align: start;
  margin: 0 25% 0rem;
  display: flex;
  flex-direction: column;
}

.pokedex-data-button-div {
  height: 30%;
  margin: 0 30%;
  height: 35%;
  display: flex;
  justify-content: space-evenly;
}

.pokedex-data-button {
  box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0.2),
    inset 7px 7px 15px rgba(55, 84, 170, 0),
    inset -7px -7px 20px rgba(255, 255, 255, 0),
    0px 0px 4px rgba(255, 255, 255, 0) !important;
  border: none;
  text-align: center;
  width: 30%;
  height: 30%;
  background-color: #ebecf0;
  border-radius: 50%;
  color: #6d7587;
  font-size: 1rem;
  padding: 1rem 2rem;
  outline: none;
  transition: box-shadow 0.25s ease !important;
}

.pokedex-data-button:active {
  box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0),
    inset 7px 7px 15px rgba(55, 84, 170, 0.15),
    inset -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, 0.2) !important;
}

.pokedex-image-container {
  width: 65%;
  /* background-image: url("../../assets/pexels-lorenzo-242236.jpg"); */
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokedex-image-div {
  display: contents;
  z-index: 1;
}

.pokedex-image {
  height: 65%;
  z-index: 1;
  position: absolute;
}

.pokemon-image-name {
  font-size: 10rem;
  z-index: 0;
  font-weight: 800;
  opacity: 0.5;
}

/* For Background Color */
.fire {
  background-color: #fddfdf;
}
.grass {
  background-color: #99ffa0;
}
.electric {
  background-color: #fff0a7;
}
.water {
  background-color: #94ddff;
}
.ground {
  background-color: #ffd4a9;
}
.rock {
  background-color: #ffffb5;
}
.fairy {
  background-color: #f6c0ff;
}
.poison {
  background-color: #98d7a5;
}
.bug {
  background-color: #f8d5a3;
}
.dragon {
  background-color: #97b3e6;
}
.psychic {
  background-color: #eaeda1;
}
.flying {
  background-color: #f5f5f5;
}
.fighting {
  background-color: #e5cd9d;
}
.normal {
  background-color: #f5f5f5;
}
.dark {
  background-color: #7e7b7b;
  color: white;
}

/* Text Color */
.fire-color {
  color: #ff8181;
}
.grass-color {
  color: #088610;
}
.electric-color {
  color: #ffea82;
}
.water-color {
  color: #81d7ff;
}
.ground-color {
  color: #ffa347;
}
.rock-color {
  color: #d1d127;
}
.fairy-color {
  color: #ed86ff;
}
.poison-color {
  color: #22d646;
}
.bug-color {
  color: #f8d5a3;
}
.dragon-color {
  color: #759ce4;
}
.psychic-color {
  color: #e2e677;
}
.flying-color {
  color: #f19393;
}
.fighting-color {
  color: #e2bf79;
}
.normal-color {
  color: #a75656;
}
.dark-color {
  color: #1d1d1d;
}
